<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/zalupa/cardgrid.css">
    <title>Title</title>
</head>
<body>
<div class="container2">
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <h2>Post One</h2>
            <p>In my younger and more vulnerable years my father
            gave me some adviceasdasdasdasdasdasdasdasdasdasd
            that I've been turning over asdasdasdadsdasdasdas
            in my mind ever since.</p>
        </div>
        <div class="card-button">
            <div class="button">
                <a class="a" href="#">Read more</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>