<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/zalupa/test_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<div class="container1">
     <div class="logo">
       <b><a class="logo-text">VOLSTINY <span class="logo-W">W</span>ORKSHOP</a></b>
     </div>
     <div class="cont-lang">
         <a class="lang" href="test_eng_home.html"><span class="material-symbols-outlined" id="icon-lang">language</span></a>
     </div>
</div>
<div class="controller">
    <div class="center-text">
        <span class="text1">Рекламні креативи</span>
        <span class="text3">Нової ери</span>
    </div>
    <div class="btn-control">
        <a href="#" class="button">
            <span class="button__line button__line--top"></span>
            <span class="button__line button__line--right"></span>
            <span class="button__line button__line--bottom"></span>
            <span class="button__line button__line--left"></span>
            ЗАМОВИТИ
        </a>
    </div>
</div>
<div class="container2">

</div>
</body>
</html>