<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/zalupa/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="con-logo">
    <div class="logo">
        <b><a class="logo-text">VOLSTINY <span class="logo-W">W</span>ORKSHOP</a></b>
    </div>
</div>
<div class="controller">
    <div class="center-text">
        <span class="text1">Advertising creatives</span>
        <span class="text2">Of</span>
        <span class="text3">The new era</span>
    </div>
    <div class="btn-control">
        <a href="#" class="button">
            <span class="button__line button__line--top"></span>
            <span class="button__line button__line--right"></span>
            <span class="button__line button__line--bottom"></span>
            <span class="button__line button__line--left"></span>
            ORDER
        </a>
    </div>
</div>
<div class="container2">

</div>
</body>
</html>